module.exports = {
  development: {
    dialect: {DB_DIALECT},
    host: {DB_HOST},
    username: {DB_USERNAME},
    password: {DB_PASSWORD},
    database: {DB_NAME},
    define: {
      timestamps: true,
      underscored: false
    }
  },
  test: {
    dialect: 'mysql',
    host: '127.0.0.1',
    username: 'root',
    password: null,
    database: 'database_test',
    define: {
      timestamps: true,
      underscored: false
    }
  },
  production: {
    dialect: 'mysql',
    host: '127.0.0.1',
    username: 'root',
    password: null,
    database: 'database_production',
    define: {
      timestamps: true,
      underscored: false
    }
  }
}